{% extends 'base.html' %}

{% block content %}

  <h2>재고 리스트</h2>
  <table class="table">
    <thead>
      <tr>
        <th>상품</th>
        <th>코드</th>
        <th>이름</th>
        <th>가격</th>
        <th>사이즈</th>
        <th>수량</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
        <tr>
          <td>{{ stock.product }}</td>
          <td>{{ stock.product.code }}</td>
          <td>{{ stock.product.name }}</td>
          <td>{{ stock.product.price }}</td>
          <td>{{ stock.product.get_size_display }}</td>
          <td>{{ stock.quantity }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">등록된 재고가 없습니다.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}